<link rel="stylesheet" type="text/css" href="../../css/pages/accountModel.css">
<!-- content -->
<div class="contentBlock resetPassSuccessBlock">
    <ul>
        <li>
            <img src="/img/19changePassIcon.png" class="successImg">
        </li>
        <li>
            <p class="successWords">恭喜您</p>
            <p class="successWords">重置密码成功</p>
        </li>
        <li>
            <input type="button" value="去登录" onclick="location.href='/user/login'">
        </li>
    </ul>
</div>
