<link rel="stylesheet" type="text/css" href="/css/pages/index.css">
<script type="text/javascript" src="/js/pages/index.js"></script>
<!-- banner -->
<div class="bannerBlock">
    <div class="centerBlock">
        <img src="/img/06banner1.png">
        <?php if(empty($userInfo)): ?>
            <input type="button" onclick="window.location.href='/user/login'" value="立即登录">
        <?php endif; ?>
    </div>
</div>
<!-- charts -->
<div class="chartsBlock">
    <div class="centerBlock">
        <div class="navBlock">
            <table>
                <tr>
                    <td class="checked" onclick="index_changeCharts(0,twdhqcharts)">TWDHQ</td>
                    <td onclick="index_changeCharts(1,myjfcharts)">MYJF</td>
                    <td onclick="index_changeCharts(2,qrtbcharts)">QRTB</td>
                    <td onclick="index_changeCharts(3,cbfcharts)">JTB</td>
                    <td onclick="index_changeCharts(4,jdtxcharts)">JDTX</td>
                    <td onclick="index_changeCharts(5,mztbcharts)">MZTB</td>
                    <td onclick="index_changeCharts(6,dyjfcharts)">DYJF</td>
                    <td onclick="index_changeCharts(7,xnzzcharts)">XNZZ</td>
                    <td onclick="index_changeCharts(8,mdsqcharts)">MDSQ</td>
                    <td onclick="index_changeCharts(9,tttbcharts)">TTTB</td>
                    <td onclick="index_changeCharts(10,jtxjcharts)">JTXJ</td>
                    <td onclick="index_changeCharts(11,scrscharts)">SCRS</td>
                    <td onclick="index_changeCharts(12,ddmmcharts)">DDMM</td>
                    <td onclick="index_changeCharts(13,xdkcharts)">XDK</td>
                    <td onclick="index_changeCharts(14,jbtcharts)">JBT</td>
                </tr>
            </table>
        </div>
        <div class="chartInfo">
            <span class="title">今日最高：</span>
            <span class="number">21.05</span>
            <span class="title">今日最低：</span>
            <span class="number">20.00</span>
            <span class="title">涨跌幅：</span>
            <span class="number">+5.25%</span>
            <!-- <span class="title">今日成交量：</span> -->
            <!-- <span class="number">159000</span> -->
        </div>
        <div class="chartInfo" hidden="hidden">
            <span class="title">今日最高：</span>
            <span class="number">11.44</span>
            <span class="title">今日最低：</span>
            <span class="number">11.44</span>
            <span class="title">涨跌幅：</span>
            <span class="number">0%</span>
            <!-- <span class="title">今日成交量：</span> -->
            <!-- <span class="number">0</span> -->
        </div>
        <div class="chartInfo" hidden="hidden">
            <span class="title">今日最高：</span>
            <span class="number">42.00</span>
            <span class="title">今日最低：</span>
            <span class="number">42.00</span>
            <span class="title">涨跌幅：</span>
            <span class="number">0%</span>
            <!-- <span class="title">今日成交量：</span> -->
            <!-- <span class="number">0</span> -->
        </div>
        <div class="chartInfo" hidden="hidden">
            <span class="title">今日最高：</span>
            <span class="number">0.2</span>
            <span class="title">今日最低：</span>
            <span class="number">0.2</span>
            <span class="title">涨跌幅：</span>
            <span class="number">0%</span>
            <!-- <span class="title">今日成交量：</span> -->
            <!-- <span class="number">0</span> -->
        </div>
        <div class="chartInfo" hidden="hidden">
            <span class="title">今日最高：</span>
            <span class="number">1</span>
            <span class="title">今日最低：</span>
            <span class="number">1</span>
            <span class="title">涨跌幅：</span>
            <span class="number">0%</span>
            <!-- <span class="title">今日成交量：</span> -->
            <!-- <span class="number">0</span> -->
        </div>
        <div class="chartInfo" hidden="hidden">
            <span class="title">今日最高：</span>
            <span class="number">1</span>
            <span class="title">今日最低：</span>
            <span class="number">1</span>
            <span class="title">涨跌幅：</span>
            <span class="number">0%</span>
            <!-- <span class="title">今日成交量：</span> -->
            <!-- <span class="number">0</span> -->
        </div>
        <div class="chartInfo" hidden="hidden">
            <span class="title">今日最高：</span>
            <span class="number">3</span>
            <span class="title">今日最低：</span>
            <span class="number">3</span>
            <span class="title">涨跌幅：</span>
            <span class="number">0%</span>
            <!-- <span class="title">今日成交量：</span> -->
            <!-- <span class="number">0</span> -->
        </div>
        <div class="chartInfo" hidden="hidden">
            <span class="title">今日最高：</span>
            <span class="number">2</span>
            <span class="title">今日最低：</span>
            <span class="number">2</span>
            <span class="title">涨跌幅：</span>
            <span class="number">0%</span>
            <!-- <span class="title">今日成交量：</span> -->
            <!-- <span class="number">0</span> -->
        </div>
        <div class="chartInfo" hidden="hidden">
            <span class="title">今日最高：</span>
            <span class="number">5</span>
            <span class="title">今日最低：</span>
            <span class="number">5</span>
            <span class="title">涨跌幅：</span>
            <span class="number">0%</span>
            <!-- <span class="title">今日成交量：</span> -->
            <!-- <span class="number">0</span> -->
        </div>
        <div class="chartInfo" hidden="hidden">
            <span class="title">今日最高：</span>
            <span class="number">0.5</span>
            <span class="title">今日最低：</span>
            <span class="number">0.5</span>
            <span class="title">涨跌幅：</span>
            <span class="number">0%</span>
            <!-- <span class="title">今日成交量：</span> -->
            <!-- <span class="number">0</span> -->
        </div>
        <div class="chartInfo" hidden="hidden">
            <span class="title">今日最高：</span>
            <span class="number">10</span>
            <span class="title">今日最低：</span>
            <span class="number">10</span>
            <span class="title">涨跌幅：</span>
            <span class="number">0%</span>
            <!-- <span class="title">今日成交量：</span> -->
            <!-- <span class="number">0</span> -->
        </div>
        <div class="chartInfo" hidden="hidden">
            <span class="title">今日最高：</span>
            <span class="number">8</span>
            <span class="title">今日最低：</span>
            <span class="number">8</span>
            <span class="title">涨跌幅：</span>
            <span class="number">0%</span>
            <!-- <span class="title">今日成交量：</span> -->
            <!-- <span class="number">0</span> -->
        </div>
        <div class="chartInfo" hidden="hidden">
            <span class="title">今日最高：</span>
            <span class="number">0.5</span>
            <span class="title">今日最低：</span>
            <span class="number">0.5</span>
            <span class="title">涨跌幅：</span>
            <span class="number">0%</span>
            <!-- <span class="title">今日成交量：</span> -->
            <!-- <span class="number">0</span> -->
        </div>
        <div class="chartInfo" hidden="hidden">
            <span class="title">今日最高：</span>
            <span class="number">1.8</span>
            <span class="title">今日最低：</span>
            <span class="number">1.8</span>
            <span class="title">涨跌幅：</span>
            <span class="number">0%</span>
            <!-- <span class="title">今日成交量：</span> -->
            <!-- <span class="number">0</span> -->
        </div>
        <div class="chartInfo" hidden="hidden">
            <span class="title">今日最高：</span>
            <span class="number">2</span>
            <span class="title">今日最低：</span>
            <span class="number">2</span>
            <span class="title">涨跌幅：</span>
            <span class="number">0%</span>
            <!-- <span class="title">今日成交量：</span> -->
            <!-- <span class="number">0</span> -->
        </div>
        
        <div class="chartsBlock" id="indexEcharts">

        </div>
    </div>
</div>
<!-- coin Info -->
<div class="coinInfoBlock">
    <div class="centerBlock">
        <table>
            <tr>
                <td>产品名称</td>
                <td>最新价格</td>
                <td>24h成交量</td>
                <td>24h成交额</td>
                <td>总市值</td>
                <td>24h涨跌</td>
<!--                <td>7D涨跌</td>-->
                <td>操作</td>
            </tr>
            <?php if(!empty($types)): ?>
                <?php foreach ($types as $type): ?>
                    <tr>
                        <td><?php echo $type['name']; ?></td>
                        <td class="latest_price"><?php echo $type['new_price']; ?></td>
                        <td><?php echo $type['total_number']; ?></td>
                        <td><?php echo $type['total_price']; ?></td>
                        <td><?php echo $type['total_market']; ?></td>
                        <td><?php echo ($type['rise'] > 0 ? '+' : ($type['rise'] < 0 ? '-' : '')) . $type['rise']."%"; ?></td>
<!--                        <td>0%</td>-->
                        <td>
                            <input type="button" value="去交易" onclick="location.href='/transaction'" >
                        </td>
                    </tr>
                <?php endforeach; ?>
            <?php endif; ?>
        </table>
    </div>
</div>

<script>
    $(function(){
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('indexEcharts'));
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(twdhqcharts);
    })
</script>
