<?php $action = \Phalcon\Di::getDefault()->getDispatcher()->getActionName(); ?>
<div class="mb_layout_floatleft">
    <p class="navTitle financeBack">财务中心</p>
    <ul>
        <li class="<?php echo strtolower($action) == 'index' ? 'checked' : '' ?>" onclick="location.href='/finance'">账户余额</li>
        <li onclick="location.href='http://www.zdatacen.com/index/into'">转入</li>
        <li onclick="location.href='http://www.zdatacen.com/index/out'">转出</li>
        <li class="<?php echo strtolower($action) == 'capitalrecord' ? 'checked' : '' ?>" onclick="location.href='/finance/capitalrecord'">资金记录</li>
    </ul>
</div>