<?php $controller = \Phalcon\Di::getDefault()->getDispatcher()->getControllerName(); ?>
<?php if(strtolower($controller) != 'user'): ?>
    <div class="footBlock">
        <div class="centerBlock">
            <div class="mainPart">
                <img src="./img/02footLOGO.png">
                <div class="publicInfoBlock">
                    <p class="otherServe">
                        <!-- <span>价格API</span>
                        <span>服务协议</span> -->
                    </p>
                    <p class="recordInfo">
                        Copyright@2017 Bibox.com All rights reserved
                    </p>
                </div>
                <div class="publicEmailBlock">
                    <p>服务邮箱：<span>xinhuofuwu@163.com</span></p>
                    <p>商务合作：<span>xinhuohezuo@163.com</span></p>
                </div>
            </div>
            <div class="outLinkPart">
                <span>友情链接：</span>
                <span class="linkSpan" onclick="javascirpt:window.open('http://www.chainfor.com/project/list.html')">链向财经</span>
                <span class="linkSpan" onclick="javascirpt:window.open('http://www.jinse.com/')">金色财经</span>
                <span class="linkSpan" onclick="javascirpt:window.open('http://www.8btc.com/')">巴比特</span>
                <span class="linkSpan" onclick="javascirpt:window.open('http://www.jinniu.cn/')">金牛财经</span>
            </div>
        </div>
    </div>
<?php endif; ?>
