<link rel="stylesheet" type="text/css" href="/css/pages/accountModel.css">
<!-- content -->
<div class="contentBlock registSuccessBlock">
    <ul>
        <li>
            <img src="/img/19changePassIcon.png" class="successImg">
        </li>
        <li>
            <p class="successWords">注册成功</p>
            <p class="successWords">请登录后开始交易</p>
        </li>
        <li>
            <input type="button" value="去登录" onclick="location.href='/user/login'">
        </li>
    </ul>
</div>